@import url(./styles/theme/_colors.css);
@import url(./styles/typography/typography.css);

*{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

.App{
  background-color:var(--background);
  align-items: center;
}

.flexbox{
  display: flex;
}

.App .ggBackToTop9305{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: var(--grey);
  justify-content: center;
  align-items: center;
  visibility: hidden;
  cursor: pointer;
  box-shadow: 0 0 30px var(--grey);
}
.App .showBackToTop{
  visibility: visible;
}



